MONGODB_URI=Enter your mongodb URI

NEXTAUTH_SECRET=Enter your NextAuth Secret

NEXT_PUBLIC_KEY_ID=Enter your Razorpay Public key
KEY_ID=Enter your Razorpay Public key
KEY_SECRET=Enter your Razorpay Private key

NEXTAUTH_URL=Enter your localhost url